# Built artifacts
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Kotlin
*.class
*.log
*.jar
*.aar

# Android
/app/build/
/app/release/
*.apk
*.aab
*.keystore

# C++
*.o
*.so
*.a
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDE
.vscode/
*.swp
*~
